<h1>Message Board Homepage</h1>
<ul>
    {% for posts in all_posts_list %}
      <li>{{ posts }}</li>
    {% endfor %}
</ul>
<style>
  h1
  {
    color: rgb(0, 0, 0);
    text-align: center;
    background-color: antiquewhite;
    border: 4px solid black;
  }
  ul,ol{
    text-decoration: underline;
    font-size: 25px;
  }
</style>